<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add a clothes</title>
  </head>


<body>
    <%- include('../partials/nav') %>
    <h1>Create a new Clothing!</h1>
    <form action="/clothing" method="POST">
     <fieldset>
      <label for="name">clothing name:</label>
      <input type="text" name="name" id="name" />
     </fieldset>
     <fieldset>
      <label for="size">clothe size:</label>
      <input type="number" name="size" id="size" />
     </fieldset>
     <fieldset>
      <label for="description">description:</label>
      <textarea name="description" id="description"></textarea>
     </fieldset>
      <button type="submit">Add clothe</button>
    </form>
  </body>
</html>